@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
    color: white;
}

.container-centered {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80vh;
}

ul {
    list-style: none;
    text-align: center;
    padding-top: 20vh;
}

img{
    max-width: 12%;
    height: auto;
}

input {
    border: 1px solid black;
    width: 35vw;
    padding: 1vw;
    border-radius: 0.3vw;
    background-color: #434b5b;
    color: white;
    height: 10px;
}

.button-search {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;

.ddg-disclaimer {
    padding-top: 2vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(68, 1, 77);
    color: white;
}